.grid-demo { margin-top: 3rem; margin-bottom: 3rem; line-height: 1; }

.grid-demo h2 { margin-top: 2rem; margin-bottom: 1rem; margin-right: auto; margin-left: auto; max-width: 1120px; }

.grid-demo h-grid { grid-row-gap: 20px; }

.grid-demo div { display: block; padding-top: 0.25rem; padding-bottom: 0.25rem; padding-right: 0.5rem; padding-left: 0.5rem; background-color: rgba(var(--blackRGB), 0.1); text-align: center; border-radius: 4px; }

.grid-demo div:nth-child(even) { background-color: rgba(var(--blackRGB), 0.25); }

.tile-demo li { margin-bottom: 1rem; }

.tile-demo span { display: block; padding-top: 0.25rem; padding-bottom: 0.25rem; padding-right: 0.5rem; padding-left: 0.5rem; background-color: rgba(var(--blackRGB), 0.1); }

.tile-demo .custom-tile { grid-template-columns: repeat(4, 1fr); }

@media (max-width: 767px) { .tile-demo .custom-tile { grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 480px) { .tile-demo .custom-tile { grid-template-columns: repeat(2, 1fr); } }

.visibility-demo { padding-top: 2rem; padding-bottom: 2rem; }

.visibility-demo p { margin-bottom: 1rem; }

.visibility-demo p, .visibility-demo span { display: block; padding-top: 0.25rem; padding-bottom: 0.25rem; padding-right: 0.5rem; padding-left: 0.5rem; background-color: rgba(var(--blackRGB), 0.1); }

.visibility-demo span { display: inline-block; }
